div#box {
    background-color: white;
    border: 1px solid #4CAF50;
    width: 400px;
    margin: 0 auto;
    box-shadow: 1px 0px 15px #4CAF50;
}

input {
    display: block;
    margin: 10px;
}

div#error{
    color: red;
}

div#boxH {
    background-color: #4CAF50;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

input[type=text], input[type=password]{
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #4CAF50;

}
select{
    font-size: 13px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #4CAF50;
}

input[type=submit] {
    background-color: #4CAF50;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid #4CAF50;
    color: white;
    font-weight: bold;
}

div#boxF {
    display: flex;
    justify-content: center;
}

div#centerT {
    text-align: center;
}

.error {
    color: #FF0000;
}
