input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background: #7cffbc url("../resources/img/pin.png") no-repeat;
    background-size: 50px 80px;
    height: 12%;
    width: 4%;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=checkbox]:checked + label {
    background: #4855ff url("../resources/img/pin.png") no-repeat;
    background-size: 50px 80px;
    height: 12%;
    width: 4%;
    display: inline-block;
    padding: 0 0 0 0;
}