table.fieldset {
    width: 100%;
}

table.updated {
    width: 40%;
}

table.alternate tr:nth-child(even) {
    background-color: #e6e6e6;
}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 5px;
}

div.center {
    justify-content: center;
    text-align: center;
}

fieldset {
    display: inline;
    position: relative;
    margin: 10px;
    background-color: #e6e6e6;
}


