<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".tab" mimeType="text/plain" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
    </system.webServer>
</configuration>